/* root */
:root {
  --neutral-light: hsl(240, 75%, 98%);
  --neutral-soft: hsl(0, 0%, 75%);
  --accent-dark: hsl(224, 93%, 58%);
  --accent-light: hsl(170, 45%, 43%);
  --primary-dark: hsl(243, 87%, 12%);
  --primary-light: hsl(238, 22%, 44%);
  --ff-heading:"Raleway", sans-serif;
  --ff-body:"open sans" , sans-serif:
  --fs-heading:2rem;
  --fs-body:1rem;
  --fw-400:400;
  --fw--700:700;

}
/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}

/* typgraphy */
a{

    text-decoration: none;
    font-family: var(--ff-heading);
    color:var(--neutral-soft);

}
a:hover{
    text-decoration: underline;
}
ul,li{
    list-style: none;
}


button{
    display: block;
    border:none;
    padding: .6rem 2rem;
    background-color: var(--accent-dark);
    color: var(--neutral-light);

    
}
input{
    padding: .6rem;
    font-family: inherit;
}