/* root */
:root {
  --neutral-light: hsl(240, 75%, 98%);
  --neutral-soft: hsl(0deg 2.57% 30.36% / 94%);
  --accent-dark: hsl(224, 93%, 58%);
  --accent-light: hsl(170, 45%, 43%);
  --primary-dark: hsl(243, 87%, 12%);
  --primary-light: hsl(238, 22%, 44%);
  --ff-heading:"open sans" , sans-serif:
  --ff-body:"Raleway", sans-serif;
  --fs-heading:1.5rem;
  --fs-body:1rem;
  --fw-400:400;
  --fw--700:700;

}
/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: var(--ff-heading);
    color:var(--primary-dark);
    font-size: var(--fs-heading);


}
img{
    display: block;
    max-width: 100%;
}

/* typgraphy */
a{

    text-decoration: none;
    font-family: var(--ff-heading);
    color:var(--neutral-soft);


}
a:hover{
    text-decoration: underline;
}
ul,li{
    list-style: none;
}


button{
    display: block;
    border:none;
    padding: .8rem 2rem;
    background-color: var(--accent-dark);
    color: var(--neutral-light);
    text-transform: capitalize;

    
}
input{
    padding: .6rem;
    font-family: inherit;
    color:var(--neutral-light);
    border-radius: .1rem;
}
input,button{
    width:100%;

    
}

body{
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color:var(--primary-dark);
  line-height: 1.5;

}


/* layout styles */
header,section,footer{
    padding: 2rem ;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width:5rem
}
.nav_list{
 display: flex;
 gap:1rem;
}
.hero{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;


}


.hero-title{
    max-width: 296px;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;

}
.hero-content{
    color: var(--neutral-soft);
     margin-bottom: 1.5rem;

}
.hero-des{
    margin-bottom: 1.5rem;
}
.hero-form input {
    border:1px solid var(--neutral-soft);
    text-transform: capitalize;
    
    margin-bottom: 1rem;
    
    
}

.feature{
    display: flex;
    flex-direction: column-reverse;
    
}
.feature-content{
   text-align: center;
}
.feature-title{
    margin-top:3rem;
    margin-bottom: 1.5rem;

}
.feature-des{
    text-align: left;
}
.feature-title{
   
    font-family: var(--ff-heading);
    margin-bottom: 1.5rem;
}
.feature-des{
    color:var(--neutral-soft);
    margin-bottom: 1.5rem;

    
}
.arrow-btn{
    
    color:var(--accent-light);
    text-decoration: none;
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    position: relative;

}

.arrow-btn::after {
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background-color:var(--accent-light);
  position: absolute;
  bottom:-5px;

}

.testinomial{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding:1.5rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 4rem;

}
.quotes{
    margin-bottom: 1rem;
}
.testinomial-des{
    max-width: 329px;
    margin-bottom: 1rem;
  
}
.user-profile{
background-color: white;
display: flex;
gap: 9px;
}
.user-img{

  width: 50px;
  height: 50px; 
  border-radius: 50%;
}
.user-info {
  display: flex;
  flex-direction: column; 
  

}

.username{
    font-family: var(--ff-heading);

    font-weight: bold;
}
.user-role{
    color:var(--neutral-soft)
}
.call-to-action{
    background-color: var(--primary-light);
    color:white;
    text-align: center;
}
.cta-title{
    color:white;

    
}
.cta-des{
    margin:1rem 0;

}